body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 600px;
	margin: 10vh;
	padding: 2%;
	background-color: #fcfcfc;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profilePic {
	align-items: center;
	justify-content: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circular {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

h2 {
	color: #333;
}
p {
	margin-bottom: 10px;
}
.label {
	font-weight: bold;
}
form {
	margin-top: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"],
button {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
button {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
button:hover {
	background-color: #0056b3;
}

.deleteButton:hover{
	background-color: #f10a53;
}