{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://iic.edu.np/image/favicon.png" />
    <title>{% block title %}Base Template{% endblock %}</title>
    <!-- Add your CSS links here -->
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
<body>
    <nav>
        <div class="logo">
          <a href="https://iic.edu.np">
            <img src="{% static 'images/logo.png' %}" alt="iic logo" />
          </a>
          <ul>
            <li>
              <a href="/home">Home</a>
            </li>
            <li>
              <a href="/register">Register User</a>
            </li>
            <li>
              <a href="/profile">Profile</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">logout</a>
            </li>
          </ul>
          <a href="https://ing.com.np">
            <img src="{% static 'images/ing.png' %}" alt="ing logo" />
          </a>
        </div>
      </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
