<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://iic.edu.np/image/favicon.png">
    <title>Error 404</title>
    <style>
        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url("{% static 'images/Error404.png' %}") no-repeat;
        background-size: cover; 
        background-position: center;
    }
    </style>
</head>
<body>
    
</body>
</html>