{%extends 'base.html'%}
{%load static%}
{%block title%}Home Page{%endblock%}
{%block content%}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{%static 'js/syschart.js'%}"></script>
<style>
main{
    background-color: beige;
}
.speed-test-widget{
    margin-top: 2px;
    position: absolute;
    left: 2px;
    border: 0px;
}
.port-status-table{
    position: absolute;
    left: 2px;
    width: 900px;
    margin-top:502px;
    background-color: rgb(0, 0, 0);
}

h3{
    margin-top: 50px;
    justify-content: center;
    color: #0f0;
    text-align: justify;
    font-size: larger;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
}

.alerts-table{
    max-width: 700px;
    position: absolute;
    margin-right: 0px;
    width: 900px;
}
.cpu-memory-usage-chart{
    margin-left: 150px;
    width: 900px;
    right: 0px;
    margin-top: 450px;
    justify-content: center;
    min-height: 600px;
}
</style>
<body>
    <main>
        <div style="margin-top:0px" class="container">
            <div class="speed-test-widget">
                <iframe style="height: 500px; width:900px;" src="//openspeedtest.com/speedtest"></iframe>
            </div>
            <div class="port-status-table">
                <h3 style="align-items: center;">Listening Ports</h3>
                <table border="2"> 
                <thead>
                    <tr>
                        <th>Port Number</th>
                        <th>Status</th>
                        <th>Service</th>
                        <th>Host Name</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for portstatus in portstatus %}
                        <tr>
                            <td>{{ portstatus.portNumber }}</td>
                            <td>{{ portstatus.portStatus }}</td>
                            <td>{{ portstatus.portService }}</td>
                            <td>{{ portstatus.HostName.HostName }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="device-info">
                <div class="cpu-memory-usage-chart" style="position: absolute;">
                    <h1>System Information</h1>
                    <p>CPU Percent: <span id="cpu_percent"></span></p>
                    <p>RAM Percent: <span id="ram_percent"></span></p>
                    <div id="chart" style="width: 85%;"></div>
                </div>
                <div class="alerts-table">
                    <table border="2">
                        <thead>
                            <tr>
                                <th>DeviceLocalIp</th>
                                <th>HostName</th>
                                <th>Time</th>
                                <th>AttackType</th>
                                <th>Pcap File Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <script>

var cpuData = [];
var ramData = [];
var chart = new ApexCharts(document.getElementById('chart'), {
    series: [{
        name: 'CPU Percent',
        data: cpuData
    }, {
        name: 'RAM Percent',
        data: ramData
    }],
    chart: {
        type: 'line',
        height: 350,
        animations: {
            enabled: true,
            easing: 'linear',
            dynamicAnimation: {
                speed: 1000
            }
        },
    },
    xaxis: {
        type: 'datetime',
        tickAmount: 6,
    },
    yaxis: {
        min: 0,
        max: 100,
    },
    legend: {
        show: true,
        position: 'top',
    },
});
chart.render();

function updateSystemInfo() {
    fetch('sysinfo/jsondata')
        .then(response => response.json())
        .then(data => {
            document.getElementById('cpu_percent').innerText = data.cpu_percent;
            document.getElementById('ram_percent').innerText = data.ram_percent;

            var now = new Date().getTime();
            cpuData.push({ x: now, y: data.cpu_percent });
            ramData.push({ x: now, y: data.ram_percent });

            if (cpuData.length > 10) {
                cpuData.shift();
            }
            if (ramData.length > 10) {
                ramData.shift();
            }

            chart.updateSeries([{
                data: cpuData
            }, {
                data: ramData
            }]);
        });
}
setInterval(updateSystemInfo, 1000); // Update every second (1000ms)
    </script>
</body>

{%endblock%}