<!DOCTYPE html>
<html>
  <head>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://iic.edu.np/image/favicon.png"
    />
    <title>Password Change</title>
    <style>
      .messages {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
      }
      .error-message {
        color: red;
      }
      .success-message {
        color: violet;
      }
    </style>
  </head>
  <body>
    <div>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="uname-enter-form">
      <h1>Password Change</h1>
      <form action="{% url 'passwordchange'%}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" /><br /><br />
        <input type="submit" value="Send OTP" />
      </form>
    </div>
  </body>
</html>
